# Maven target directory
/target/

# IntelliJ IDEA files
/.idea/
/*.iml

# Eclipse files
/.classpath
/.project
/.settings/

# VS Code files
/.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# Application-specific
*.env
